# List

In [1]:
fruits_list = list(('Apple', 'Pineapple', 'Watermelon'))

In [2]:
fruits_list

['Apple', 'Pineapple', 'Watermelon']

In [3]:
fruits_list.append('Lemon')

fruits_list

['Apple', 'Pineapple', 'Watermelon', 'Lemon']

In [4]:
fruits_list.insert(0, "Grape")

fruits_list

['Grape', 'Apple', 'Pineapple', 'Watermelon', 'Lemon']

In [5]:
fruits_list.append([2,3,4])

fruits_list

['Grape', 'Apple', 'Pineapple', 'Watermelon', 'Lemon', [2, 3, 4]]

pop method removes the last element in a list if an index is not passed

In [6]:
fruits_list.pop()

fruits_list

['Grape', 'Apple', 'Pineapple', 'Watermelon', 'Lemon']

In [7]:
extra_list = ["Cream", "Vegetables", "Meats"]

fruits_list = fruits_list + extra_list

fruits_list

['Grape',
 'Apple',
 'Pineapple',
 'Watermelon',
 'Lemon',
 'Cream',
 'Vegetables',
 'Meats']

extend() method adds an iterable to the end of a list

In [8]:
fruits_list.extend(extra_list)

In [9]:
fruits_list

['Grape',
 'Apple',
 'Pineapple',
 'Watermelon',
 'Lemon',
 'Cream',
 'Vegetables',
 'Meats',
 'Cream',
 'Vegetables',
 'Meats']

### Removing from a list

remove method, it removes a specified element

In [12]:
fruits_list.remove('Vegetables')

In [13]:
fruits_list

['Grape',
 'Apple',
 'Pineapple',
 'Watermelon',
 'Lemon',
 'Cream',
 'Meats',
 'Cream',
 'Vegetables',
 'Meats']

In [14]:
fruits_list.pop(3)

'Watermelon'

In [15]:
fruits_list

['Grape',
 'Apple',
 'Pineapple',
 'Lemon',
 'Cream',
 'Meats',
 'Cream',
 'Vegetables',
 'Meats']

In [16]:
x = 5
print(x)

5

In [17]:
del x

print(x)

NameError: name 'x' is not defined

In [18]:
extra_list

['Cream', 'Vegetables', 'Meats']

In [19]:
del extra_list[0]

extra_list

['Vegetables', 'Meats']

In [20]:
del extra_list

extra_list

NameError: name 'extra_list' is not defined

In [21]:
fruits_list.clear()

fruits_list

[]

In [28]:
my_list = [10,2,3,40,5,6,900, 600, 200]

my_list.sort()

In [29]:
my_list

[2, 3, 5, 6, 10, 40, 200, 600, 900]

In [31]:
my_list = [10,2,3,40,5,6,900, 600, 200]

my_list.sort(reverse=True)

print(my_list)

[900, 600, 200, 40, 10, 6, 5, 3, 2]

In [32]:
my_list.reverse()

In [33]:
my_list

[2, 3, 5, 6, 10, 40, 200, 600, 900]

In [34]:
x = [1,2,3,4]
y = x

print(x)

[1, 2, 3, 4]

In [35]:
print(y)

[1, 2, 3, 4]

In [36]:
x.append([6,7,8])

print(x)

[1, 2, 3, 4, [6, 7, 8]]

In [37]:
print(y)

[1, 2, 3, 4, [6, 7, 8]]

In [38]:
z = x.copy()

x.append(9)

print(x)
print(z)

[1, 2, 3, 4, [6, 7, 8], 9]
[1, 2, 3, 4, [6, 7, 8]]

In [39]:
print(y)

[1, 2, 3, 4, [6, 7, 8], 9]

### Tuples

In [40]:
empty_tup = () # Creating a tuple using parenthesis

empty_tup_2 = tuple() # Creating a tuple using tuple constructor

print(type(empty_tup), type(empty_tup_2))

<class 'tuple'> <class 'tuple'>

In [46]:
my_list = [1,2,3,4, "DA", "DS", "ML", "DL"]
print(type(my_list))
my_tup = tuple(my_list)

print(my_tup)

<class 'list'>
(1, 2, 3, 4, 'DA', 'DS', 'ML', 'DL')

In [47]:
my_tup

(1, 2, 3, 4, 'DA', 'DS', 'ML', 'DL')

In [48]:
my_tup[0]

1

In [49]:
my_tup[2:5]

(3, 4, 'DA')

In [50]:
my_tup[::2]

(1, 3, 'DA', 'ML')

In [51]:
my_tup[::-1]

('DL', 'ML', 'DS', 'DA', 4, 3, 2, 1)

In [52]:
my_tup + 2

TypeError: can only concatenate tuple (not "int") to tuple

In [54]:
my_tup = my_tup*2

my_tup

(1, 2, 3, 4, 'DA', 'DS', 'ML', 'DL', 1, 2, 3, 4, 'DA', 'DS', 'ML', 'DL')

In [55]:
my_tup[0] = "Victor"
my_tup

TypeError: 'tuple' object does not support item assignment

In [56]:
my_tup.count("DA")

2

In [57]:
my_tup.index("DA")

4

In [65]:
range(5)

range(0, 5)

In [66]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [69]:
len(my_tup)

16

In [72]:
my_tup[1]

2

In [80]:
count = 0
index = []
for x in range(len(my_tup)):
    ele = my_tup[x]
    if ele == "DA":
        count += 1
        index.append(x)

print(count)
print(index)

2
[4, 12]

### Packing and Unpacking tuples

In [1]:
my_tup = (9,3,8,0, "Victor", "apples", [1,2,3,4,4], (2,3,4,5))

In [2]:
my_tup

(9, 3, 8, 0, 'Victor', 'apples', [1, 2, 3, 4, 4], (2, 3, 4, 5))

In [8]:
my_tup, *my_tup_2= (9,3,8,0, "Victor", "apples", [1,2,3,4,4], (2,3,4,5))

In [9]:
my_tup

9

In [10]:
my_tup_2

[3, 8, 0, 'Victor', 'apples', [1, 2, 3, 4, 4], (2, 3, 4, 5)]

In [11]:
my_tup, *my_tup_2, x = (9,3,8,0, "Victor", "apples", [1,2,3,4,4], (2,3,4,5))

In [12]:
x

(2, 3, 4, 5)

In [13]:
my_tup_2

[3, 8, 0, 'Victor', 'apples', [1, 2, 3, 4, 4]]

In [14]:
my_tup

9

### SET

> Sets are unordered, they are unchangeable, unindexed <br>

They do not take duplicate

In [32]:
my_set1 = {2,2,3,3,4,5,"Victor", "victor"}

fruit_set = {'apple', 'apple', 'mango', 'orange'}

In [16]:
my_set1

{2, 3, 4, 5, 'Victor', 'victor'}

In [17]:
fruit_set

{'apple', 'mango', 'orange'}

In [18]:
type(fruit_set)

set

In [19]:
type(my_set1)

set

In [20]:
my_set1[0]

TypeError: 'set' object is not subscriptable

In [21]:
my_set1[0] = "sjgdethwdfcvsg"

TypeError: 'set' object does not support item assignment

# Accessing Items in set

In [22]:
for x in my_set1:
    print(x)

2
3
4
5
victor
Victor

In [23]:
len(my_set1)

6

In [24]:
this_set = {12,3,4,5,6, True, 1}

print(this_set)

{True, 3, 4, 5, 6, 12}

In [25]:
that_set = {12,3,4,5,6, False, 0}

print(that_set)

{False, 3, 4, 5, 6, 12}

In [26]:
that_set.add(33)

that_set

{False, 3, 4, 5, 6, 12, 33}

In [27]:
False in that_set

True

In [28]:
True in that_set

False

In [29]:
True not in that_set

True

In [33]:
fruit_set.update({'Watermelon'})

fruit_set

{'Watermelon', 'apple', 'mango', 'orange'}

In [34]:
new_set = set()

type(new_set)

set

In [35]:
fruit_set.remove("Watermelon")

fruit_set

{'apple', 'mango', 'orange'}

In [36]:
fruit_set.remove("Watermelon")

KeyError: 'Watermelon'

In [37]:
fruit_set.discard('Watermelon')

In [38]:
fruit_set.discard('apple')

In [39]:
fruit_set

{'mango', 'orange'}

In [40]:
fruit_set.pop()

'orange'

In [41]:
fruit_set

{'mango'}

In [42]:
fruit_set.clear()

In [43]:
fruit_set

set()

In [44]:
del fruit_set

In [45]:
fruit_set

NameError: name 'fruit_set' is not defined

### Dictionaries

In [47]:
my_dict = {}

print(type(my_dict))

<class 'dict'>

In [48]:
random_dict = {
    "Key1" : "Value 1",
    "Key2" : "Value 2",
    "Key1" : "Value 3"
}

print(random_dict)

{'Key1': 'Value 3', 'Key2': 'Value 2'}

## Accessing dictionary values

In [49]:
random_dict["Key1"] # First method

'Value 3'

In [50]:
random_dict['Key3']

KeyError: 'Key3'

In [51]:
random_dict.get('Key3')

In [52]:
random_dict.get("Key2")

'Value 2'

### Notice:
---
<font color='red'> A list and dictionary cannot be a key in a dictionary
</font> <br>
Whereas any datatype can be a value in dictionary

---

In [55]:
dict_2 ={
    "x" : 3,
    1 : [1,2,3,3,4,5],
    'my_tup' : ("fruits", 3.14),
    2.12 : "Victor",
    True : 2,
    (True, False) : 23,
}

dict_2

{'x': 3, 1: 2, 'my_tup': ('fruits', 3.14), 2.12: 'Victor', (True, False): 23}