## DataTypes and operations

---
<font color="red"> <strong>
 </strong>
</font>

---

## Integers

Integers are whole numbers and not a fractional number

In [1]:
first_int = 34
second_int = 21
third_int = 12
fourth_int = 45


print(first_int, second_int, third_int, fourth_int)

34 21 12 45

Python built_in function called type()

In [2]:
type(456)

int

In [4]:
type(first_int)

int

In [5]:
print(type(first_int))

<class 'int'>

Operations with integer

# Arithmetic Operators

Addition (+) <br>
Subtraction (-) <br>
Division (/, //) <br>
multiplication (*) <br>
modulo (%) <br>
exponential (**)

In [6]:
print(first_int + third_int)

46

In [7]:
second_int + first_int

55

In [8]:
print(fourth_int - first_int)

11

In [11]:
print((first_int - third_int) * -1)

-22

In [12]:
print(abs(third_int - first_int))

22

In [13]:
print(third_int / fourth_int)

0.26666666666666666

In [14]:
print(third_int // fourth_int)

0

In [15]:
print(21/5)

4.2

In [16]:
print(18 / 4)

4.5

In [17]:
print(18 // 4)

4

In [20]:
print(second_int * third_int)

252

In [21]:
2 * 2

4

In [22]:
3 * 9

27

In [23]:
first_int % third_int

10

In [24]:
first_int, third_int

(34, 12)

In [26]:
3 ** 2

9

In [27]:
print(second_int ** first_int)

902518308877795191433240103403256374623457081

## Order of Precedence in Integer

> B -> Brackets <br>
> E -> Exponential <br>
> D -> Division <br>
> M  -> Multiplication <br>
> A -> Addition <br>
> S -> Subtraction <br>

In [28]:
2 * 3 / 2

3.0

In [29]:
6 / 2

3.0

In [30]:
9 * 4 / 3

12.0

In [33]:
(9 / 3) * (2%5) / (81 **(1/4))

2.0

In [42]:
from math import ceil, floor, sqrt

In [48]:
floor(9.9)

9

In [52]:
floor(27 ** (2/3))

8

In [35]:
1/2

0.5

### Floating Point Numbers

In [53]:
float_1 = 1.0
float_2 = 3.5
int_1 = 1

print(type(float_1))
print(type(float_2))
print(type(int_1))

<class 'float'>
<class 'float'>
<class 'int'>

In [54]:
print(float_1 + float_2)

4.5

In [55]:
print(float_1 ** float_2)

1.0

In [56]:
float_3 = 4.2
float_4 = 6.7

print(float_4 ** float_3)

2947.9096674645207

### Type Casting

---

You can type cast an integer to a float and vice versal

---

In [58]:
type(first_int)

int

In [60]:
type(float(first_int))

float

In [62]:
type(float_4)

float

In [64]:
int(float_4)

6

In [65]:
float_5 = 2.5

In [66]:
3 ** int(float_5)

9

In [67]:
float_4

6.7

#### Strings and operations

In [76]:
my_str_1 = 'my name is Victor'
my_str_2 = "I am a data scientist"
my_str_3 = """,.adhxygudb,snmcsamm,naxvsv,axsc    klhsdj,admdasvm  ;lasnjhkbac"""

print(my_str_1)
print(my_str_2)
print(my_str_3)

my name is Victor
I am a data scientist
,.adhxygudb,snmcsamm,naxvsv,axsc    klhsdj,admdasvm  ;lasnjhkbac

In [72]:
"victor" * 12

'victorvictorvictorvictorvictorvictorvictorvictorvictorvictorvictorvictor'

In [73]:
my_str_4 = "123344"

print(type(my_str_4))

<class 'str'>

In [75]:
type(int(my_str_4))

int

In [79]:
print(len(my_str_1))
print(len(my_str_2))
print(len(my_str_3))
print(len(my_str_4))

17
21
64
6

In [81]:
name = 'Victor'
name2 = "Victor"
name3 = """Victor"""

print(name)
print(name2)
print(name3)

Victor
Victor
Victor

In [82]:
print(type(name))
print(type(name2))
print(type(name3))

<class 'str'>
<class 'str'>
<class 'str'>

### Operations Performed with/On Strings

- Concantenation -> joining two strings together

In [86]:
str_1 = "Hello"

str_2 = "World"

print(str_1, ",", str_2)

Hello , World

In [84]:
2+2

4

In [87]:
con_1 = str_1 + str_2

print(con_1)

HelloWorld

In [88]:
empty_str = "         "

print(len(empty_str))
print(type(empty_str))

9
<class 'str'>

In [90]:
con_2 = str_1 + empty_str + str_2
print(type(con_2))

<class 'str'>

- slice strings using indexing

In [91]:
my_str_1 = "Hello World"

# When going forward H is at index 0 with a step size of 1
# When going backwards 'd' is at index -1

my_str_1[0]

'H'

In [92]:
my_str_1[1]

'e'

In [93]:
my_str_1[2]

'l'

- Slicing strings using range

In [97]:
my_str_1[0:5]

'Hello'

In [98]:
len(my_str_1)

11

In [99]:
my_str_1[6:len(my_str_1)]

'World'

In [100]:
my_str_1[:]

'Hello World'

In [101]:
my_str_1[4:]

'o World'

In [102]:
my_str_1[:5]

'Hello'

In [103]:
my_str_1[::1]

'Hello World'

In [104]:
my_str_1[::2]

'HloWrd'

In [105]:
my_str_1[::3]

'HlWl'

In [106]:
my_str_1

'Hello World'

In [109]:
len(my_str_1)

11

In [110]:
my_str_1[len(my_str_1) -1 ]

'd'

In [111]:
my_str_1[-1]

'd'

In [112]:
my_str_1[-2]

'l'

In [121]:
my_str_1[-1:-6:-1]

'dlroW'

In [117]:
my_str_1[0:6:2]

'Hlo'

In [120]:
-3 + -1

-4

In [122]:
name = "Ope"

print(name * 10)

OpeOpeOpeOpeOpeOpeOpeOpeOpeOpe

In [123]:
name = "Ope Johnson"
age = 35

name + age

TypeError: can only concatenate str (not "int") to str

In [124]:
name + str(age)

'Ope Johnson35'

In [125]:
name

'Ope Johnson'

In [126]:
sent_1 = "My name is " + name

print(sent_1)

My name is Ope Johnson

In [127]:
print(sent_1 + " I am " + age + " years old")

TypeError: can only concatenate str (not "int") to str

In [128]:
print(sent_1 + " I am " + str(age) + " years old")

My name is Ope Johnson I am 35 years old

In [129]:
name = "Ope Johnson"
age = 42

print("I am", name, "I am", age, "years Old")

I am Ope Johnson I am 42 years Old

--- 

Formating Strings in python using placeholders

What are placeholders??? Placeholders are containers for holding variables, they are represented in surly brackets {}

---

In [131]:
print("I am {}, I am {} years old".format(name,age))

I am Ope Johnson, I am 42 years old

In [136]:
print("I am {}, I am {} years old".format(name, age))

I am Ope Johnson, I am 42 years old

In [133]:
"{} {}".format(name, age)

'Ope Johnson 42'

In [138]:
print("I am {1} years old and my name is {0}".format(name, age))

I am 42 years old and my name is Ope Johnson

In [140]:
print(f"I am {name} and I am {age} years old")

I am Ope Johnson and I am 42 years old

### Escape Character:
- Escape character is a backslash followed by the character you want to enter

In [1]:
"", '', """ """

('', '', ' ')

In [14]:
reported_speech = "The HOC said, \"She won't be available today\""

In [15]:
print(reported_speech)

The HOC said, "She won't be available today"

In [17]:
statement = "We are the so called \"Viking\" from the north"

print(statement)

We are the so called "Viking" from the north

In [20]:
ano_state = 'I don\'t like the HOC'

print(ano_state)

I don't like the HOC

In [35]:
statements = "I am writing on the first line \n\tI am writing on the second line \n\t I am writing on the third line"

In [36]:
print(statements)

I am writing on the first line
	I am writing on the second line
	 I am writing on the third line

### String methods

In [53]:
my_txt = "I love apples, and I buy apples so much that I think I am addicted.jpg"

print(type(my_txt))

<class 'str'>

In [38]:
my_txt.lower()

'i love apples, and i buy apples so much that i think i am addicted'

In [39]:
my_txt.upper()

'I LOVE APPLES, AND I BUY APPLES SO MUCH THAT I THINK I AM ADDICTED'

In [40]:
my_txt.casefold()

'i love apples, and i buy apples so much that i think i am addicted'

In [48]:
"apples".upper()

'APPLES'

In [49]:
my_txt.count("apples".upper())

0

In [51]:
my_txt.count("i".upper())

4

In [54]:
my_txt.endswith('.jpg')

True

In [55]:
my_txt.startswith('I')

True

In [56]:
my_txt = "    I love apples, and I buy apples so much that I think I am addicted.jpg    "

print(my_txt)

    I love apples, and I buy apples so much that I think I am addicted.jpg

In [57]:
my_txt.lstrip()

'I love apples, and I buy apples so much that I think I am addicted.jpg    '

In [58]:
my_txt.rstrip()

'    I love apples, and I buy apples so much that I think I am addicted.jpg'

In [59]:
my_txt.strip()

'I love apples, and I buy apples so much that I think I am addicted.jpg'

In [61]:
type(my_txt.split())

list

In [74]:
names = "Victor, Yomi, Nahomi, Adara, Opeyemi, Sayo, Madu"

list_names = names.split()

In [72]:
names.split(',')

['Victor', ' Yomi', ' Nahomi', ' Adara', ' Opeyemi', ' Sayo', ' Madu']

In [73]:
names.split(', ')

['Victor', 'Yomi', 'Nahomi', 'Adara', 'Opeyemi', 'Sayo', 'Madu']

In [75]:
list_names

['Victor,', 'Yomi,', 'Nahomi,', 'Adara,', 'Opeyemi,', 'Sayo,', 'Madu']

In [78]:
" ".join(list_names)

'Victor, Yomi, Nahomi, Adara, Opeyemi, Sayo, Madu'