# Operators
- Arithmetic Operators
- Assignment Operators
- Comparison Operators
- Logical Operators
- Identity Operators
- Membership Operators

In [1]:
# Addition operator

print( 2+ 3)

5

In [2]:
print(2 - 4)

-2

In [3]:
print(2 * 3)

6

In [4]:
print(2 / 3)

0.6666666666666666

In [5]:
round((2/3), 3)

0.667

In [6]:
print(2 // 3)

0

In [7]:
print(2 % 3)

2

In [8]:
print(2 ** 3)

8

- Assignemnt Operators

In [9]:
x = 12

# I am assigning 3 to variable x

print(x)

12

In [10]:
x = x + 3

print(x)

15

In [11]:
x += x
print(x)

30

In [12]:
x = x - 10

print(x)

20

In [13]:
x -= 5

print(x)

15

In [14]:
x  **= 2
print(x)

225

In [15]:
x /= 5

print(x)

45.0

In [16]:
4 // 2

2

- Comparison Operator <br>
> <, >, ==, !=, >=, <=

In [17]:
print(5 > 2)

True

In [18]:
print(5 < 2)

False

In [19]:
print(5 == 2)

False

In [20]:
print(5 == 5)

True

In [21]:
print(4 >= 3)

True

In [22]:
print(4 <= 2)

False

In [23]:
print(5 != 3)

True

- Logical Operator
> and, or, not

In [24]:
x = 3
y = 5

print(x < y and y > x)

True

In [25]:
print(x < y and y < x)

False

In [26]:
print(x < y & y < x)

False

In [27]:
print(x < y or y < x)

True

In [28]:
print(x > y | y > x)

False

In [29]:
not True

False

In [30]:
not False

True

In [31]:
print(not(x > y | y > x))

True

- Identity Operator
> is and is not

In [32]:
x = ["apple", "mango"]

y = ["mango", "apple"]

# X and Y are have same contents but does not necessarily mean they are same objects
z = x

In [33]:
print(x is z) # is returns True if two variables are of same object

True

In [34]:
print(x is y)

False

In [35]:
print(x == y)

False

In [41]:
p = 33

q = 32 + 1
r = p

In [42]:
r == p

True

In [43]:
r is p

True

In [44]:
p == q

True

In [45]:
p is q

True

In [46]:
x is not y

True

> Collections in python
- List

In [47]:
empty_list = list() #List constructor

print(type(empty_list))

<class 'list'>

In [48]:
empty_list_2 = []

print(type(empty_list_2))

<class 'list'>

In [49]:
random_list = ["ABC", 123, 45.6, True, False, {1,2,3,4,5}, (12345), {}, [1,2,3,4,5,6,7,8,9]]

print(random_list)

['ABC', 123, 45.6, True, False, {1, 2, 3, 4, 5}, 12345, {}, [1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [58]:
type(random_list[0])

str

In [59]:
type(random_list[1])

int

In [60]:
random_list[-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
print(f"The element in the last position is {random_list[-1]}, and the type is {type(random_list[-1])}")

The element in the last position is [1, 2, 3, 4, 5, 6, 7, 8, 9], and the type is <class 'list'>

In [63]:
random_list[:]

['ABC',
 123,
 45.6,
 True,
 False,
 {1, 2, 3, 4, 5},
 12345,
 {},
 [1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [64]:
random_list[:5]

['ABC', 123, 45.6, True, False]

In [65]:
random_list[:6]

['ABC', 123, 45.6, True, False, {1, 2, 3, 4, 5}]

In [68]:
random_list[2:]

[45.6, True, False, {1, 2, 3, 4, 5}, 12345, {}, [1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [70]:
len(random_list[2:4])

2

In [72]:
random_list[2:6][-1]

{1, 2, 3, 4, 5}

In [73]:
random_list[::]

['ABC',
 123,
 45.6,
 True,
 False,
 {1, 2, 3, 4, 5},
 12345,
 {},
 [1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [74]:
random_list[::1]

['ABC',
 123,
 45.6,
 True,
 False,
 {1, 2, 3, 4, 5},
 12345,
 {},
 [1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [75]:
random_list[::2]

['ABC', 45.6, False, 12345, [1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [77]:
random_list[2::2]

[45.6, False, 12345, [1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [80]:
random_list[-1:-5:-1]

[[1, 2, 3, 4, 5, 6, 7, 8, 9], {}, 12345, {1, 2, 3, 4, 5}]

In [81]:
random_list[-1::-1]

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 {},
 12345,
 {1, 2, 3, 4, 5},
 False,
 True,
 45.6,
 123,
 'ABC']

In [82]:
len(random_list)

9

In [87]:
random_list[len(random_list) -1 ::-1]

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 {},
 12345,
 {1, 2, 3, 4, 5},
 False,
 True,
 45.6,
 123,
 'ABC']

In [101]:
fruits_list = ["apple", "mango"]

In [102]:
fruits_list[0]

'apple'

In [103]:
fruits_list + "cherry"

TypeError: can only concatenate list (not "str") to list

In [104]:
fruits_list = fruits_list + ["cherry"]

In [105]:
fruits_list += ["Pineapple"]

print(fruits_list)

['apple', 'mango', 'cherry', 'Pineapple']

In [106]:
fruits_list[2] = 'Watermelon'

print(fruits_list)

['apple', 'mango', 'Watermelon', 'Pineapple']

In [107]:
fruits_list.insert(1, "kiwi")

print(fruits_list)

['apple', 'kiwi', 'mango', 'Watermelon', 'Pineapple']

In [108]:
"Orange" in fruits_list

False

In [109]:
"Orange" not in fruits_list

True

In [110]:
fruits_list[1:3] = ["Lemon"]

print(fruits_list)

['apple', 'Lemon', 'Watermelon', 'Pineapple']

In [ ]:
fruits_list